# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/tensorflow.iml
DecisionTreeDemo.py
Demo.py
TensorFlowExercise.py
Test.py
venv/Include/
venv/Lib/site-packages/IPython/
venv/Lib/site-packages/Keras_Applications-1.0.8.dist-info/
venv/Lib/site-packages/Keras_Preprocessing-1.1.0.dist-info/
venv/Lib/site-packages/Markdown-3.1.1.dist-info/
venv/Lib/site-packages/Pygments-2.5.2.dist-info/
venv/Lib/site-packages/Werkzeug-0.16.0.dist-info/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/absl/
venv/Lib/site-packages/absl_py-0.9.0-py3.7.egg-info/
venv/Lib/site-packages/astor-0.8.1.dist-info/
venv/Lib/site-packages/astor/
venv/Lib/site-packages/backcall-0.1.0-py3.7.egg-info/
venv/Lib/site-packages/backcall/
venv/Lib/site-packages/cachetools-4.0.0.dist-info/
venv/Lib/site-packages/cachetools/
venv/Lib/site-packages/certifi-2019.11.28.dist-info/
venv/Lib/site-packages/certifi/
venv/Lib/site-packages/chardet-3.0.4.dist-info/
venv/Lib/site-packages/chardet/
venv/Lib/site-packages/colorama-0.4.3.dist-info/
venv/Lib/site-packages/colorama/
venv/Lib/site-packages/cycler-0.10.0.dist-info/
venv/Lib/site-packages/cycler.py
venv/Lib/site-packages/dateutil/
venv/Lib/site-packages/decorator-4.4.1.dist-info/
venv/Lib/site-packages/decorator.py
venv/Lib/site-packages/easy-install.pth
venv/Lib/site-packages/gast-0.2.2-py3.7.egg-info/
venv/Lib/site-packages/gast/
venv/Lib/site-packages/google/
venv/Lib/site-packages/google_auth-1.10.0-py3.8-nspkg.pth
venv/Lib/site-packages/google_auth-1.10.0.dist-info/
venv/Lib/site-packages/google_auth_oauthlib-0.4.1.dist-info/
venv/Lib/site-packages/google_auth_oauthlib/
venv/Lib/site-packages/google_pasta-0.1.8.dist-info/
venv/Lib/site-packages/grpc/
venv/Lib/site-packages/grpcio-1.26.0.dist-info/
venv/Lib/site-packages/h5py-2.10.0.dist-info/
venv/Lib/site-packages/h5py/__init__.py
venv/Lib/site-packages/h5py/__pycache__/
venv/Lib/site-packages/h5py/_conv.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/_errors.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/_hl/
venv/Lib/site-packages/h5py/_objects.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/_proxy.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/defs.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5a.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5ac.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5d.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5ds.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5f.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5fd.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5g.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5i.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5l.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5o.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5p.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5pl.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5py_warnings.py
venv/Lib/site-packages/h5py/h5r.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5s.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5t.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/h5z.cp37-win_amd64.pyd
Would remo
ve venv/Lib/site-packages/h5py/highlevel.py
venv/Lib/site-packages/h5py/ipy_completer.py
venv/Lib/site-packages/h5py/tests/
venv/Lib/site-packages/h5py/utils.cp37-win_amd64.pyd
venv/Lib/site-packages/h5py/version.py
venv/Lib/site-packages/idna-2.8.dist-info/
venv/Lib/site-packages/idna/
venv/Lib/site-packages/ipython-7.11.1.dist-info/
venv/Lib/site-packages/ipython_genutils-0.2.0.dist-info/
venv/Lib/site-packages/ipython_genutils/
venv/Lib/site-packages/jedi-0.15.2.dist-info/
venv/Lib/site-packages/jedi/
venv/Lib/site-packages/joblib-0.14.1.dist-info/
venv/Lib/site-packages/joblib/
venv/Lib/site-packages/keras_applications/
venv/Lib/site-packages/keras_preprocessing/
venv/Lib/site-packages/kiwisolver-1.1.0.dist-info/
venv/Lib/site-packages/kiwisolver.cp37-win_amd64.pyd
venv/Lib/site-packages/markdown/
venv/Lib/site-packages/matplotlib-3.1.2-py3.7-nspkg.pth
venv/Lib/site-packages/matplotlib-3.1.2.dist-info/
venv/Lib/site-packages/matplotlib/__init__.py
venv/Lib/site-packages/matplotlib/__pycache__/
venv/Lib/site-packages/matplotlib/_animation_data.py
venv/Lib/site-packages/matplotlib/_cm.py
venv/Lib/site-packages/matplotlib/_cm_listed.py
venv/Lib/site-packages/matplotlib/_color_data.py
venv/Lib/site-packages/matplotlib/_constrained_layout.py
venv/Lib/site-packages/matplotlib/_contour.cp37-win_amd64.pyd
venv/Lib/site-packages/matplotlib/_image.cp37-win_amd64.pyd
venv/Lib/site-packages/matplotlib/_layoutbox.py
venv/Lib/site-packages/matplotlib/_mathtext_data.py
venv/Lib/site-packages/matplotlib/_path.cp37-win_amd64.pyd
venv/Lib/site-packages/matplotlib/_png.cp37-win_amd64.pyd
venv/Lib/site-packages/matplotlib/_pylab_helpers.py
venv/Lib/site-packages/matplotlib/_qhull.cp37-win_amd64.pyd
venv/Lib/site-packages/matplotlib/_tri.cp37-win_amd64.pyd
venv/Lib/site-packages/matplotlib/_version.py
venv/Lib/site-packages/matplotlib/afm.py
venv/Lib/site-packages/matplotlib/animation.py
venv/Lib/site-packages/matplotlib/artist.py
venv/Lib/site-packages/matplotlib/axes/
venv/Lib/site-packages/matplotlib/axis.py
venv/Lib/site-packages/matplotlib/backend_bases.py
venv/Lib/site-packages/matplotlib/backend_managers.py
venv/Lib/site-packages/matplotlib/backend_tools.py
venv/Lib/site-packages/matplotlib/backends/
venv/Lib/site-packages/matplotlib/bezier.py
venv/Lib/site-packages/matplotlib/blocking_input.py
venv/Lib/site-packages/matplotlib/category.py
venv/Lib/site-packages/matplotlib/cbook/
venv/Lib/site-packages/matplotlib/cm.py
venv/Lib/site-packages/matplotlib/collections.py
venv/Lib/site-packages/matplotlib/colorbar.py
venv/Lib/site-packages/matplotlib/colors.py
venv/Lib/site-packages/matplotlib/compat/
venv/Lib/site-packages/matplotlib/container.py
venv/Lib/site-packages/matplotlib/contour.py
venv/Lib/site-packages/matplotlib/dates.py
venv/Lib/site-packages/matplotlib/docstring.py
venv/Lib/site-packages/matplotlib/dviread.py
venv/Lib/site-packages/matplotlib/figure.py
venv/Lib/site-packages/matplotlib/font_manager.py
venv/Lib/site-packages/matplotlib/fontconfig_pattern.py
venv/Lib/site-packages/matplotlib/ft2font.cp37-win_amd64.pyd
venv/Lib/site-packages/matplotlib/gridspec.py
venv/Lib/site-packages/matplotlib/hatch.py
venv/Lib/site-packages/matplotlib/image.py
venv/Lib
/site-packages/matplotlib/legend.py
venv/Lib/site-packages/matplotlib/legend_handler.py
venv/Lib/site-packages/matplotlib/lines.py
venv/Lib/site-packages/matplotlib/markers.py
venv/Lib/site-packages/matplotlib/mathtext.py
venv/Lib/site-packages/matplotlib/mlab.py
venv/Lib/site-packages/matplotlib/mpl-data/
venv/Lib/site-packages/matplotlib/offsetbox.py
venv/Lib/site-packages/matplotlib/patches.py
venv/Lib/site-packages/matplotlib/path.py
venv/Lib/site-packages/matplotlib/patheffects.py
venv/Lib/site-packages/matplotlib/projections/
venv/Lib/site-packages/matplotlib/pylab.py
venv/Lib/site-packages/matplotlib/pyplot.py
venv/Lib/site-packages/matplotlib/quiver.py
venv/Lib/site-packages/matplotlib/rcsetup.py
venv/Lib/site-packages/matplotlib/sankey.py
venv/Lib/site-packages/matplotlib/scale.py
venv/Lib/site-packages/matplotlib/sphinxext/
venv/Lib/site-packages/matplotlib/spines.py
venv/Lib/site-packages/matplotlib/stackplot.py
venv/Lib/site-packages/matplotlib/streamplot.py
venv/Lib/site-packages/matplotlib/style/
venv/Lib/site-packages/matplotlib/table.py
venv/Lib/site-packages/matplotlib/testing/
venv/Lib/site-packages/matplotlib/texmanager.py
venv/Lib/site-packages/matplotlib/text.py
venv/Lib/site-packages/matplotlib/textpath.py
venv/Lib/site-packages/matplotlib/ticker.py
venv/Lib/site-packages/matplotlib/tight_bbox.py
venv/Lib/site-packages/matplotlib/tight_layout.py
venv/Lib/site-packages/matplotlib/transforms.py
venv/Lib/site-packages/matplotlib/tri/
venv/Lib/site-packages/matplotlib/ttconv.cp37-win_amd64.pyd
venv/Lib/site-packages/matplotlib/type1font.py
venv/Lib/site-packages/matplotlib/units.py
venv/Lib/site-packages/matplotlib/widgets.py
venv/Lib/site-packages/mpl_toolkits/
venv/Lib/site-packages/numpy-1.18.0.dist-info/
venv/Lib/site-packages/numpy/LICENSE.txt
venv/Lib/site-packages/numpy/__config__.py
venv/Lib/site-packages/numpy/__init__.py
venv/Lib/site-packages/numpy/__pycache__/
venv/Lib/site-packages/numpy/_distributor_init.py
venv/Lib/site-packages/numpy/_globals.py
venv/Lib/site-packages/numpy/_pytesttester.py
venv/Lib/site-packages/numpy/compat/
venv/Lib/site-packages/numpy/conftest.py
venv/Lib/site-packages/numpy/core/__init__.py
venv/Lib/site-packages/numpy/core/__pycache__/
venv/Lib/site-packages/numpy/core/_add_newdocs.py
venv/Lib/site-packages/numpy/core/_asarray.py
venv/Lib/site-packages/numpy/core/_dtype.py
venv/Lib/site-packages/numpy/core/_dtype_ctypes.py
venv/Lib/site-packages/numpy/core/_exceptions.py
venv/Lib/site-packages/numpy/core/_internal.py
venv/Lib/site-packages/numpy/core/_methods.py
venv/Lib/site-packages/numpy/core/_multiarray_tests.cp37-win_amd64.pyd
venv/Lib/site-packages/numpy/core/_multiarray_umath.cp37-win_amd64.pyd
venv/Lib/site-packages/numpy/core/_operand_flag_tests.cp37-win_amd64.pyd
venv/Lib/site-packages/numpy/core/_rational_tests.cp37-win_amd64.pyd
venv/Lib/site-packages/numpy/core/_string_helpers.py
venv/Lib/site-packages/numpy/core/_struct_ufunc_tests.cp37-win_amd64.pyd
venv/Lib/site-packages/numpy/core/_type_aliases.py
venv/Lib/site-packages/numpy/core/_ufunc_config.py
venv/Lib/site-packages/numpy/core/_umath_tests.cp37-win_amd64.pyd
venv/Lib/site-packages/numpy/core/arrayprint.py
venv/Lib/site-packages/numpy/core/c
versions.py
venv/Lib/site-packages/numpy/core/defchararray.py
venv/Lib/site-packages/numpy/core/einsumfunc.py
venv/Lib/site-packages/numpy/core/fromnumeric.py
venv/Lib/site-packages/numpy/core/function_base.py
venv/Lib/site-packages/numpy/core/generate_numpy_api.py
venv/Lib/site-packages/numpy/core/getlimits.py
venv/Lib/site-packages/numpy/core/include/
venv/Lib/site-packages/numpy/core/lib/npy-pkg-config/
venv/Lib/site-packages/numpy/core/machar.py
venv/Lib/site-packages/numpy/core/memmap.py
venv/Lib/site-packages/numpy/core/multiarray.py
venv/Lib/site-packages/numpy/core/numeric.py
venv/Lib/site-packages/numpy/core/numerictypes.py
venv/Lib/site-packages/numpy/core/overrides.py
venv/Lib/site-packages/numpy/core/records.py
venv/Lib/site-packages/numpy/core/setup.py
venv/Lib/site-packages/numpy/core/setup_common.py
venv/Lib/site-packages/numpy/core/shape_base.py
venv/Lib/site-packages/numpy/core/tests/
venv/Lib/site-packages/numpy/core/umath.py
venv/Lib/site-packages/numpy/core/umath_tests.py
venv/Lib/site-packages/numpy/ctypeslib.py
venv/Lib/site-packages/numpy/distutils/
venv/Lib/site-packages/numpy/doc/
venv/Lib/site-packages/numpy/dual.py
venv/Lib/site-packages/numpy/f2py/
venv/Lib/site-packages/numpy/fft/
venv/Lib/site-packages/numpy/lib/
venv/Lib/site-packages/numpy/linalg/
venv/Lib/site-packages/numpy/ma/
venv/Lib/site-packages/numpy/matlib.py
venv/Lib/site-packages/numpy/matrixlib/
venv/Lib/site-packages/numpy/polynomial/
venv/Lib/site-packages/numpy/random/
venv/Lib/site-packages/numpy/setup.py
venv/Lib/site-packages/numpy/testing/
venv/Lib/site-packages/numpy/tests/
venv/Lib/site-packages/numpy/version.py
venv/Lib/site-packages/oauthlib-3.1.0.dist-info/
venv/Lib/site-packages/oauthlib/
venv/Lib/site-packages/opt_einsum-3.1.0-py3.7.egg-info/
venv/Lib/site-packages/opt_einsum/
venv/Lib/site-packages/pandas-0.25.3.dist-info/
venv/Lib/site-packages/pandas/__init__.py
venv/Lib/site-packages/pandas/__pycache__/
venv/Lib/site-packages/pandas/_config/
venv/Lib/site-packages/pandas/_libs/__init__.py
venv/Lib/site-packages/pandas/_libs/__pycache__/
venv/Lib/site-packages/pandas/_libs/algos.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/groupby.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/hashing.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/hashtable.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/index.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/indexing.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/internals.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/interval.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/join.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/json.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/lib.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/missing.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/ops.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/parsers.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/properties.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/reduction.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/reshape.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/skiplist.cp37-win_amd64.pyd
venv/Lib/site
-packages/pandas/_libs/sparse.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/testing.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/tslib.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/tslibs/
venv/Lib/site-packages/pandas/_libs/window.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_libs/writers.cp37-win_amd64.pyd
venv/Lib/site-packages/pandas/_typing.py
venv/Lib/site-packages/pandas/_version.py
venv/Lib/site-packages/pandas/api/
venv/Lib/site-packages/pandas/arrays/
venv/Lib/site-packages/pandas/compat/
venv/Lib/site-packages/pandas/conftest.py
venv/Lib/site-packages/pandas/core/
venv/Lib/site-packages/pandas/errors/
venv/Lib/site-packages/pandas/io/
venv/Lib/site-packages/pandas/plotting/
venv/Lib/site-packages/pandas/testing.py
venv/Lib/site-packages/pandas/tests/
venv/Lib/site-packages/pandas/tseries/
venv/Lib/site-packages/pandas/util/
venv/Lib/site-packages/parso-0.5.2.dist-info/
venv/Lib/site-packages/parso/
venv/Lib/site-packages/pasta/
venv/Lib/site-packages/pickleshare-0.7.5.dist-info/
venv/Lib/site-packages/pickleshare.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/EGG-INFO/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/__init__.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/__main__.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/__init__.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/appdirs.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/cachecontrol/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/certifi/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/chardet/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/colorama/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/__init__.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/_backport/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/compat.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/database.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/index.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/locators.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/manifest.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/markers.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/metadata.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/resources.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/scripts.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/util.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/version.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/wheel.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distro.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/html5lib/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/idna/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/ipaddress.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/lockfile/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/msgpack/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/packaging/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/pep517/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/pkg_resources/
W
ould remove venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/progress/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/pyparsing.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/pytoml/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/requests/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/retrying.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/six.py
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/webencodings/
venv/Lib/site-packages/pip-19.3.1.dist-info/
venv/Lib/site-packages/pip/__init__.py
venv/Lib/site-packages/pip/__main__.py
venv/Lib/site-packages/pip/__pycache__/
venv/Lib/site-packages/pip/_internal/
venv/Lib/site-packages/pip/_vendor/__init__.py
venv/Lib/site-packages/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip/_vendor/appdirs.py
venv/Lib/site-packages/pip/_vendor/cachecontrol/
venv/Lib/site-packages/pip/_vendor/certifi/
venv/Lib/site-packages/pip/_vendor/chardet/
venv/Lib/site-packages/pip/_vendor/colorama/
venv/Lib/site-packages/pip/_vendor/contextlib2.py
venv/Lib/site-packages/pip/_vendor/distlib/__init__.py
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/_backport/
venv/Lib/site-packages/pip/_vendor/distlib/compat.py
venv/Lib/site-packages/pip/_vendor/distlib/database.py
venv/Lib/site-packages/pip/_vendor/distlib/index.py
venv/Lib/site-packages/pip/_vendor/distlib/locators.py
venv/Lib/site-packages/pip/_vendor/distlib/manifest.py
venv/Lib/site-packages/pip/_vendor/distlib/markers.py
venv/Lib/site-packages/pip/_vendor/distlib/metadata.py
venv/Lib/site-packages/pip/_vendor/distlib/resources.py
venv/Lib/site-packages/pip/_vendor/distlib/scripts.py
venv/Lib/site-packages/pip/_vendor/distlib/util.py
venv/Lib/site-packages/pip/_vendor/distlib/version.py
venv/Lib/site-packages/pip/_vendor/distlib/wheel.py
venv/Lib/site-packages/pip/_vendor/distro.py
venv/Lib/site-packages/pip/_vendor/html5lib/
venv/Lib/site-packages/pip/_vendor/idna/
venv/Lib/site-packages/pip/_vendor/ipaddress.py
venv/Lib/site-packages/pip/_vendor/msgpack/
venv/Lib/site-packages/pip/_vendor/packaging/
venv/Lib/site-packages/pip/_vendor/pep517/
venv/Lib/site-packages/pip/_vendor/pkg_resources/
venv/Lib/site-packages/pip/_vendor/progress/
venv/Lib/site-packages/pip/_vendor/pyparsing.py
venv/Lib/site-packages/pip/_vendor/pytoml/
venv/Lib/site-packages/pip/_vendor/requests/
venv/Lib/site-packages/pip/_vendor/retrying.py
venv/Lib/site-packages/pip/_vendor/six.py
venv/Lib/site-packages/pip/_vendor/urllib3/
venv/Lib/site-packages/pip/_vendor/webencodings/
venv/Lib/site-packages/prompt_toolkit-3.0.2.dist-info/
venv/Lib/site-packages/prompt_toolkit/
venv/Lib/site-packages/protobuf-3.11.2-py3.7-nspkg.pth
venv/Lib/site-packages/protobuf-3.11.2.dist-info/
venv/Lib/site-packages/pyasn1-0.4.8.dist-info/
venv/Lib/site-packages/pyasn1/
venv/Lib/site-packages/pyasn1_modules-0.2.7.dist-info/
venv/Lib/site-packages/pyasn1_modules/
venv/Lib/site-packages/pygments/
venv/Lib/site-packages/pylab.py
venv/Lib/site-packages/pyparsing-2.4.6.dist-info/
venv/Lib/site-packages/pyparsing.py
venv/Lib/site-packages/python_dateutil-2.8.1.dist-info/
venv/Lib/site-packag
es/pytz-2019.3.dist-info/
venv/Lib/site-packages/pytz/
venv/Lib/site-packages/requests-2.22.0.dist-info/
venv/Lib/site-packages/requests/
venv/Lib/site-packages/requests_oauthlib-1.3.0.dist-info/
venv/Lib/site-packages/requests_oauthlib/
venv/Lib/site-packages/rsa-4.0.dist-info/
venv/Lib/site-packages/rsa/
venv/Lib/site-packages/scikit_learn-0.22.1.dist-info/
venv/Lib/site-packages/scipy-1.4.1.dist-info/
venv/Lib/site-packages/scipy/HACKING.rst.txt
venv/Lib/site-packages/scipy/INSTALL.rst.txt
venv/Lib/site-packages/scipy/LICENSE.txt
venv/Lib/site-packages/scipy/LICENSES_bundled.txt
venv/Lib/site-packages/scipy/THANKS.txt
venv/Lib/site-packages/scipy/__config__.py
venv/Lib/site-packages/scipy/__init__.py
venv/Lib/site-packages/scipy/__pycache__/
venv/Lib/site-packages/scipy/_build_utils/
venv/Lib/site-packages/scipy/_distributor_init.py
venv/Lib/site-packages/scipy/_lib/
venv/Lib/site-packages/scipy/cluster/
venv/Lib/site-packages/scipy/conftest.py
venv/Lib/site-packages/scipy/constants/
venv/Lib/site-packages/scipy/fft/
venv/Lib/site-packages/scipy/fftpack/
venv/Lib/site-packages/scipy/integrate/
venv/Lib/site-packages/scipy/interpolate/
venv/Lib/site-packages/scipy/io/
venv/Lib/site-packages/scipy/linalg.pxd
venv/Lib/site-packages/scipy/linalg/
venv/Lib/site-packages/scipy/misc/
venv/Lib/site-packages/scipy/ndimage/
venv/Lib/site-packages/scipy/odr/
venv/Lib/site-packages/scipy/optimize.pxd
venv/Lib/site-packages/scipy/optimize/
venv/Lib/site-packages/scipy/setup.py
venv/Lib/site-packages/scipy/signal/
venv/Lib/site-packages/scipy/sparse/
venv/Lib/site-packages/scipy/spatial/
venv/Lib/site-packages/scipy/special.pxd
venv/Lib/site-packages/scipy/special/
venv/Lib/site-packages/scipy/stats/
venv/Lib/site-packages/scipy/version.py
venv/Lib/site-packages/setuptools-40.8.0-py3.7.egg
venv/Lib/site-packages/setuptools.pth
venv/Lib/site-packages/six-1.13.0.dist-info/
venv/Lib/site-packages/six.py
venv/Lib/site-packages/sklearn/__check_build/
venv/Lib/site-packages/sklearn/__init__.py
venv/Lib/site-packages/sklearn/__pycache__/
venv/Lib/site-packages/sklearn/_build_utils/
venv/Lib/site-packages/sklearn/_config.py
venv/Lib/site-packages/sklearn/_distributor_init.py
venv/Lib/site-packages/sklearn/_isotonic.cp37-win_amd64.pyd
venv/Lib/site-packages/sklearn/base.py
venv/Lib/site-packages/sklearn/calibration.py
venv/Lib/site-packages/sklearn/cluster/
venv/Lib/site-packages/sklearn/compose/
venv/Lib/site-packages/sklearn/conftest.py
venv/Lib/site-packages/sklearn/covariance/
venv/Lib/site-packages/sklearn/cross_decomposition/
venv/Lib/site-packages/sklearn/datasets/
venv/Lib/site-packages/sklearn/decomposition/
venv/Lib/site-packages/sklearn/discriminant_analysis.py
venv/Lib/site-packages/sklearn/dummy.py
venv/Lib/site-packages/sklearn/ensemble/
venv/Lib/site-packages/sklearn/exceptions.py
venv/Lib/site-packages/sklearn/experimental/
venv/Lib/site-packages/sklearn/externals/
venv/Lib/site-packages/sklearn/feature_extraction/
venv/Lib/site-packages/sklearn/feature_selection/
venv/Lib/site-packages/sklearn/gaussian_process/
venv/Lib/site-packages/sklearn/impute/
venv/Lib/site-packages/sklearn/
inspection/
venv/Lib/site-packages/sklearn/isotonic.py
venv/Lib/site-packages/sklearn/kernel_approximation.py
venv/Lib/site-packages/sklearn/kernel_ridge.py
venv/Lib/site-packages/sklearn/linear_model/
venv/Lib/site-packages/sklearn/manifold/
venv/Lib/site-packages/sklearn/metrics/
venv/Lib/site-packages/sklearn/mixture/
venv/Lib/site-packages/sklearn/model_selection/
venv/Lib/site-packages/sklearn/multiclass.py
venv/Lib/site-packages/sklearn/multioutput.py
venv/Lib/site-packages/sklearn/naive_bayes.py
venv/Lib/site-packages/sklearn/neighbors/
venv/Lib/site-packages/sklearn/neural_network/
venv/Lib/site-packages/sklearn/pipeline.py
venv/Lib/site-packages/sklearn/preprocessing/
venv/Lib/site-packages/sklearn/random_projection.py
venv/Lib/site-packages/sklearn/semi_supervised/
venv/Lib/site-packages/sklearn/setup.py
venv/Lib/site-packages/sklearn/svm/
venv/Lib/site-packages/sklearn/tests/
venv/Lib/site-packages/sklearn/tree/
venv/Lib/site-packages/sklearn/utils/
venv/Lib/site-packages/tensorboard-2.0.2.dist-info/
venv/Lib/site-packages/tensorboard/
venv/Lib/site-packages/tensorflow/
venv/Lib/site-packages/tensorflow_core/__init__.py
venv/Lib/site-packages/tensorflow_core/__pycache__/
venv/Lib/site-packages/tensorflow_core/_api/
venv/Lib/site-packages/tensorflow_core/compiler/
venv/Lib/site-packages/tensorflow_core/contrib/
venv/Lib/site-packages/tensorflow_core/core/
venv/Lib/site-packages/tensorflow_core/examples/
venv/Lib/site-packages/tensorflow_core/include/
venv/Lib/site-packages/tensorflow_core/lite/
venv/Lib/site-packages/tensorflow_core/python/__init__.py
venv/Lib/site-packages/tensorflow_core/python/__pycache__/
venv/Lib/site-packages/tensorflow_core/python/_pywrap_tensorflow_internal.pyd
venv/Lib/site-packages/tensorflow_core/python/autograph/
venv/Lib/site-packages/tensorflow_core/python/client/
venv/Lib/site-packages/tensorflow_core/python/compat/
venv/Lib/site-packages/tensorflow_core/python/compiler/
venv/Lib/site-packages/tensorflow_core/python/data/
venv/Lib/site-packages/tensorflow_core/python/debug/
venv/Lib/site-packages/tensorflow_core/python/distribute/
venv/Lib/site-packages/tensorflow_core/python/eager/
venv/Lib/site-packages/tensorflow_core/python/estimator/
venv/Lib/site-packages/tensorflow_core/python/feature_column/
venv/Lib/site-packages/tensorflow_core/python/framework/
venv/Lib/site-packages/tensorflow_core/python/grappler/
venv/Lib/site-packages/tensorflow_core/python/keras/
venv/Lib/site-packages/tensorflow_core/python/kernel_tests/
venv/Lib/site-packages/tensorflow_core/python/layers/
venv/Lib/site-packages/tensorflow_core/python/lib/
venv/Lib/site-packages/tensorflow_core/python/module/
venv/Lib/site-packages/tensorflow_core/python/ops/
venv/Lib/site-packages/tensorflow_core/python/platform/
venv/Lib/site-packages/tensorflow_core/python/profiler/
venv/Lib/site-packages/tensorflow_core/python/pywrap_dlopen_global_flags.py
venv/Lib/site-packages/tensorflow_core/python/pywrap_tensorflow.py
venv/Lib/site-packages/tensorflow_core/python/pywrap_tensorflow_internal.py
venv/Lib/site-packages/tensorflow_core/python/saved_model/
venv/Lib/site-packages/tensorflow_core/python/summary/
venv/Lib/site-packages/tensorflow_core/python/tf2.py
venv/Lib/site-packages/tensorflow_core/python/too
ls/
venv/Lib/site-packages/tensorflow_core/python/tpu/
venv/Lib/site-packages/tensorflow_core/python/training/
venv/Lib/site-packages/tensorflow_core/python/user_ops/
venv/Lib/site-packages/tensorflow_core/python/util/
venv/Lib/site-packages/tensorflow_core/tools/
venv/Lib/site-packages/tensorflow_estimator-2.0.1.dist-info/
venv/Lib/site-packages/tensorflow_estimator/
venv/Lib/site-packages/tensorflow_gpu-2.0.0.dist-info/
venv/Lib/site-packages/termcolor-1.1.0-py3.7.egg-info/
venv/Lib/site-packages/termcolor.py
venv/Lib/site-packages/traitlets-4.3.3.dist-info/
venv/Lib/site-packages/traitlets/
venv/Lib/site-packages/urllib3-1.25.7.dist-info/
venv/Lib/site-packages/urllib3/
venv/Lib/site-packages/wcwidth-0.1.8.dist-info/
venv/Lib/site-packages/wcwidth/
venv/Lib/site-packages/werkzeug/
venv/Lib/site-packages/wheel-0.33.6.dist-info/
venv/Lib/site-packages/wheel/
venv/Lib/site-packages/wrapt-1.11.2-py3.7.egg-info/
venv/Lib/site-packages/wrapt/
venv/Scripts/Activate.ps1
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/deactivate.bat
venv/Scripts/easy_install-3.7-script.py
venv/Scripts/easy_install-script.py
venv/Scripts/pip-script.py
venv/Scripts/pip3-script.py
venv/Scripts/pip3.7-script.py
venv/pyvenv.cfg
venv/share/
